#include <winver.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Carlos Natanael\0"
            VALUE "FileDescription", "Jogo RPG de Aventura\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "LegalCopyright", "© 2023 Carlos Natanael\0"
            VALUE "ProductName", "Masmorra do Fim\0"
            VALUE "ProductVersion", "1.0.0\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}